{% extends "layout.html" %}

{% block title %}
   Results from Random
{% endblock %}

{% block main %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Restaurant</th>
                <th>Food</th>
                <th>Rate</th>
                <th>Region</th>
                <th>Style</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ random[0]["restaurant"] }}</td>
                <td>{{ random[0]["food"] }}</td>
                <td>{{ random[0]["rate"] }}</td>
                <td>{{ random[0]["region"] }}</td>
                <td>{{ random[0]["style"] }}</td>
            </tr>
        </tbody>
    </table>
{% endblock %}