{% extends "layout.html" %}

{% block title %}
    Search by Style
{% endblock %}

{% block main %}
    <form action="/search_style" method="post">
        <div class="container">
            <div class="row justify-content-md-center">
                <div class="col-2">
                    <label class="font-weight-normal" for="style">Style</label>&nbsp;
                </div>
                <div class="col-2">
                    <select class="form-control" id="style" name="style">
                        <option value="Traditional">Traditional</option>
                        <option value="Fusion">Fusion</option>
                        <option value="Haute">Haute</option>
                        <option value="Nouvelle">Nouvelle</option>
                        <option value="Vegan">Vegan</option>
                        <option value="Vegetarian">Vegetarian</option>
                        <option value="Fast Food">Fast Food</option>
                        <option value="Others">Others</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <br>
                <br>
            </div>
            <button class="btn btn-outline-info my-2 my-sm-0" type="submit">Search</button>
        </div>
    </form>
{% endblock %}