{% extends "layout.html" %}

{% block title %}
   Results from Search by Rate
{% endblock %}

{% block main %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Restaurant</th>
                <th>Food</th>
                <th>Rate</th>
                <th>Region</th>
                <th>Style</th>
                <th>Time</th>
            </tr>
        </thead>
        <tbody>
            {% for rate in rates %}
                <tr>
                    <td>{{ rate["restaurant"] }}</td>
                    <td>{{ rate["food"] }}</td>
                    <td>{{ rate["rate"] }}</td>
                    <td>{{ rate["region"] }}</td>
                    <td>{{ rate["style"] }}</td>
                    <td>{{ rate["time"] }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}