{% extends "layout.html" %}

{% block title %}
    Search by Rate
{% endblock %}

{% block main %}
    <form action="/search_rate" method="post">
        <div class="container">
            <div class="row justify-content-md-center">
                <div class="col-1">
                    <label class="font-weight-normal" for="rate">Rate</label>&nbsp;
                </div>
                <div class="col-4">
                    <select class="form-control" id="range" name="range">
                        <option value=">">></option>
                        <option value=">=">>=</option>
                        <option value="=">=</option>
                        <option value="<="><=</option>
                        <option value="<"><</option>
                    </select>

                    <input class="form-control" id="rate" name="rate" type="number" min="0" max="10">
                </div>
            </div>
            <div class="row">
                <br>
                <br>
            </div>
            <button class="btn btn-outline-info my-2 my-sm-0" type="submit">Search</button>
        </div>
    </form>
{% endblock %}