{% extends "layout.html" %}

{% block title %}
   Results from Search by Restaurant
{% endblock %}

{% block main %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Restaurant</th>
                <th>Food</th>
                <th>Rate</th>
                <th>Region</th>
                <th>Style</th>
                <th>Time</th>
            </tr>
        </thead>
        <tbody>
            {% for restaurant in restaurants %}
                <tr>
                    <td>{{ restaurant["restaurant"] }}</td>
                    <td>{{ restaurant["food"] }}</td>
                    <td>{{ restaurant["rate"] }}</td>
                    <td>{{ restaurant["region"] }}</td>
                    <td>{{ restaurant["style"] }}</td>
                    <td>{{ restaurant["time"] }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}